@font-face {
	font-family: "PlayfairDisplay-Regular";
	src: url("../fonts/PlayfairDisplay-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu-Regular";
	src: url("../fonts/Ubuntu-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
