@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";
///@import "../../utils/global_styles/fonts";

.asideBar {
  flex-basis: 270px;
  color: $white;
  background-color: $blue;
  box-shadow: inset 5px 5px 3px $white,
  inset -5px -5px 3px $white;
  padding: 25px;

  @media screen and (max-width: 768px) {
    flex-grow: 1;
    text-align: center;
  }

  h1 {
    @include init-font(22px, 700);
    @include text-shadow(2px, 4px);

    color: $foxy;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .imageContainer {
    margin: 20px auto;
    text-align: center;

    img {
      width: 175px;
      height: 230px;
    }
  }

  .sectionList {
    width: 210px;
    text-align: left;
    margin: 0 auto;

    .sectionName {
      @include init-font(20px, 700);
      @include text-shadow(2px, 4px);
      @include transition();

      margin: 5px auto;
      text-transform: uppercase;
      letter-spacing: 2px;

      &.toBeHovered:hover {
        transform: translateX(7px);
        cursor: pointer;
      }

      &.specClass {
        color: $foxy;
      }
    }
  }

}



